## Exercise 1: NumPy: Create an array with values ranging from 12 to 38

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]

In [2]:
import numpy as np

In [4]:
value=np.array(range(12,39))
value

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38])

## Exercise 2: Add a border around an existing array
##### Hint: np.pad()

Original array:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
0 on the border and 1 inside in the array
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

In [7]:
arr1=np.ones((3,3))
arr1

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [13]:
np.pad(arr1,1)

array([[0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 0.],
       [0., 1., 1., 1., 0.],
       [0., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0.]])

## Exercise 3: Convert a list and tuple into arrays

List to array:
[1 2 3 4 5 6 7 8]
Tuple to array:
[[8 4 6]
 [1 2 3]]

In [26]:
list=np.arange(1,8)
print('List To Array:',np.array(list))
tup=(8,4,6,1,2,3)
tup1=np.asarray(tup).reshape(2,3)
print('Tuple to Array:\n',tup1)

List To Array: [1 2 3 4 5 6 7]
Tuple to Array:
 [[8 4 6]
 [1 2 3]]

## Also try np.asarray for the problem above!

## Exercise 4:  Convert the values of Centigrade degrees into Fahrenheit degrees

Values in Fahrenheit degrees:
[ 0.   12.   45.21 34.   99.91]
Values in  Centigrade degrees:
[-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

In [32]:
fah=np.array([0, 12,45.21, 34, 99.91])
fah

array([ 0.  , 12.  , 45.21, 34.  , 99.91])

In [36]:
print('Values in Centigrade degress:\n',(fah-32)/1.8)

Values in Centigrade degress:
 [-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

## Exercise 5: Write a NumPy program to find the number of elements of an array, length of one array element in bytes and total bytes consumed by the elements.

Size of the array:  3
Length of one array element in bytes:  8
Total bytes consumed by the elements of the array:  24

In [46]:
arr1=np.array([1,2,3],dtype='int64')
print('Size of the array:',arr1.size)
print('Length of one array elemnt in bytes:',arr1.itemsize)
print('Total bytes consumed by the elements of the array:',arr1.nbytes)

Size of the array: 3
Length of one array elemnt in bytes: 8
Total bytes consumed by the elements of the array: 24

## Exercise 6: Get the unique elements of an array

Original array:
[10 10 20 20 30 30]
Unique elements of the above array:
[10 20 30]
Original array:
[[1 1]
 [2 3]]
Unique elements of the above array:
[1 2 3]

In [52]:
arr1=np.array([10,10,20,20,30,30])
set1=set(arr1)
set1
arr2=np.array(set1)
print('Unique elements of above array:',arr2)

Unique elements of above array: {10, 20, 30}

In [54]:
print('Unique elements of above array:',np.unique(arr1))

Unique elements of above array: [10 20 30]

In [59]:
arr2=np.array([[1,1],[2,3]])
print('Unique elements of above array:',np.unique(arr2))

Unique elements of above array: [1 2 3]

## Exercise 7: Change the dimension of an array

Original array: [1 2 3 4 5 6 7 8 9]
Change array shape to (3, 3) -> 3 rows and 3 columns
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [60]:
arr1=np.arange(1,10)
print('Original Array:',arr1)

Original Array: [1 2 3 4 5 6 7 8 9]

In [62]:
print('Change array shape to (3,3):\n',arr1.reshape(3,3))

Change array shape to (3,3):
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

## Exercise 8: Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [64]:
arr1=np.linspace(2.5,6.5,30)
print('Output:\n',arr1)

Output:
 [2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

## Exercise 9: Convert 1-D arrays as columns into a 2-D array

Array1: [10 20 30]
Array2: [40 50 60]
Converted array
[[10 40]
 [20 50]
 [30 60]]

In [66]:
arr1=np.arange(10,40,10)
arr2=np.arange(40,70,10)
print('Array1:\n',arr1)
print('Array2:\n',arr2)

Array1:
 [10 20 30]
Array2:
 [40 50 60]

In [80]:

print('Converted array:\n',np.column_stack((arr1,arr2)))

Converted array:
 [[10 40]
 [20 50]
 [30 60]]

## Exercise 10: Create a 5x5 matrix with row values ranging from 0 to 4

Original array:
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
Row values ranging from 0 to 4.
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

## Exercise 11: Sum of all the multiples of 3 or 5 below 100

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
2318

In [84]:
j=0
for i in range(3,100):
    if((i%3==0) or (i%5==0)):
        j=j+i
print('Output:',j)

Output: 2318

## Exercise 12: Combine a one and a two dimensional array together and display their elements
##### Hint : np.nditer()

In [28]:
x = np.arange(4)
y = np.arange(4)
for a, b in np.nditer([x,y]):
    print(a)
    print(b)

0
0
1
1
2
2
3
3

One dimensional array:
[0 1 2 3]
Two dimensional array:
[[0 1 2 3]
 [4 5 6 7]]
0:0
1:1
2:2
3:3
0:4
1:5
2:6
3:7

In [92]:
x=np.array(range(0,4))
y=np.array([[0,1,2,3],[4,5,6,7]])
for i,j in np.nditer([x,y]):
    print(i,':',j)

0 : 0
1 : 1
2 : 2
3 : 3
0 : 4
1 : 5
2 : 6
3 : 7

## Exercise 13: Write a NumPy program to replace all elements of NumPy array that are greater than specified array.

Original array:
[[0.42436315 0.48558583 0.32924763]
 [0.7439979  0.58220701 0.38213418]
 [0.5097581  0.34528799 0.1563123 ]]
Replace all elements of the said array with .5 which are greater than .5
[[0.42436315 0.48558583 0.32924763]
 [0.5        0.5        0.38213418]
 [0.5        0.34528799 0.1563123 ]]

In [98]:
arr1=np.array([[[0.42436315,0.48558583,0.32924763],[0.7439979,0.58220701,0.38213418],[0.5097581,0.34528799,0.1563123]]])
arr1[arr1>0.5]=0.5
print('Replace all elements of the said array with .5 which are greater than .5\n',arr1)

Replace all elements of the said array with .5 which are greater than .5
 [[[0.42436315 0.48558583 0.32924763]
  [0.5        0.5        0.38213418]
  [0.5        0.34528799 0.1563123 ]]]

## Exercise 14: Add a new row to an empty numpy array

Empty array:
[]
After adding two new arrays:
[[10 20 30]
 [40 50 60]]

In [107]:
arr1=np.empty([0,3])
np.append(arr1,np.array([[10,20,30],[40,50,60]]),axis=0)

array([[10., 20., 30.],
       [40., 50., 60.]])

## Exercise 15: Write a NumPy program to join a sequence of arrays along a new axis.

Original arrays:
[1 2 3]
[2 3 4]
Sequence of arrays along a new axis:
[[1 2 3]
 [2 3 4]]

Original arrays:
[[1]
 [2]
 [3]]

[[2]
 [3]
 [4]]
Sequence of arrays along a new axis:
[[1]
 [2]
 [3]
 [2]
 [3]
 [4]]