### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

For example: List = [54, 44, 27, 79, 91, 41]

In [1]:
lst=[34, 54, 67, 89, 11, 43, 94]
print('Original List ',lst)
lst.pop(4)
print('List After removing element at index 4' ,lst)

Original List  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4 [34, 54, 67, 89, 43, 94]

In [2]:
lst.insert(2,11)
print('List after Adding element at index 2 ',lst)

List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]

In [3]:
lst.append(11)
print('List after Adding element at last ',lst)

List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [4]:
lst.extend([0,0])

In [5]:
lst

[34, 54, 11, 67, 89, 43, 94, 11, 0, 0]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

In [10]:
firstlst=[2, 3, 4, 5, 6, 7, 8]
secondlst=[4, 9, 16, 25, 36, 49, 64]
firstset=set(firstlst)
secondset=set(secondlst)

In [11]:
print('First Set:',firstset)
print('Second Set:',secondset)

First Set: {2, 3, 4, 5, 6, 7, 8}
Second Set: {64, 4, 36, 9, 16, 49, 25}

In [12]:
thirdset=firstset.union(secondset)
print('Third set',thirdset)

Third set {64, 2, 3, 4, 5, 6, 7, 8, 36, 9, 16, 49, 25}

In [14]:
thirdlst=list(thirdset)
print('Final List',thirdlst)

Final List [64, 2, 3, 4, 5, 6, 7, 8, 36, 9, 16, 49, 25]

In [16]:
firstlst1=[2, 3, 4, 5, 6, 7, 8]
secondlst1=[4, 9, 16, 25, 36, 49, 64]
thirdlst1=firstlst1+secondlst1
thirdlst1

[2, 3, 4, 5, 6, 7, 8, 4, 9, 16, 25, 36, 49, 64]

In [18]:
oneset=set(thirdlst1)
oneset

{2, 3, 4, 5, 6, 7, 8, 9, 16, 25, 36, 49, 64}

In [20]:
finallist=list(oneset)
print('Final Output:',finallist)

Final Output: [64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() )

In [ ]:
Tuple output= (64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 11, 16, 49, 25)
Mininum value of the tuple is: 2
Maximum value of the tuple is: 64

In [22]:
list1 = [64, 2, 3, 4,11,2,4,6,7, 5, 6, 7, 8, 9, 36, 16, 49, 25]
set1=set(list1)
print('First Set',set1)

First Set {64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 11, 16, 49, 25}

In [23]:
tuple1=tuple(set1)
print('Tuple Output=',tuple1)

Tuple Output= (64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 11, 16, 49, 25)

In [24]:
print('Mininum value of the tuple is:',min(tuple1))
print('Maximum value of the tuple is:',max(tuple1))

Mininum value of the tuple is: 2
Maximum value of the tuple is: 64

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [25]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

In [ ]:
Print each word Separately: W e l c o m e   t o   P y t h o n
Length of the String: 17

In [29]:
Sample_String="Welcome to Python"
print(*Sample_String)

W e l c o m e   t o   P y t h o n

In [30]:
print('Length of the String:',len(Sample_String))

Length of the String: 17

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

In [31]:
Sample_dict={'physics': 80, 'math': 90, 'chemistry': 86}

In [37]:
print('Getting the 1st key element:',Sample_dict['physics'])

Getting the 1st key element: 80

In [42]:
Sample_dict.get('physics')

80

In [47]:
Sample_dict.keys()

dict_keys(['physics', 'math', 'chemistry'])

In [48]:
Sample_list=list(Sample_dict)

In [50]:
Sample_list

['physics', 'math', 'chemistry']

In [53]:
print('Getting the 1st Key:',Sample_list[0])

Getting the 1st Key: physics

In [54]:
Sample_dict1={'physics': 80, 'math': 90, 'chemistry': 86}
l1=list(Sample_dict1)
l1

['physics', 'math', 'chemistry']

In [ ]:

Getting the 1st key element: 80
['physics', 'math', 'chemistry']
Getting the 1st key: physics

After converting Dictionary to List: ['physics', 'math', 'chemistry']
Getting the 1st key: physics