Here we shall look at few advanced functions in Python such as Lambda, Map, Zip, Emumerate,Reduce, Filter

In [4]:
#Lets Write a normal function to find Square of 2 numbers
def square(x):
    return x*x

In [5]:
square(3)

9

# Lambda Function

Anonymous functions are something which has no names. Here we are gonna perform the above Square function using Lambda. Do note that Lambda is a keyword and not the name of the function

Syntax for Lambda Function is 'lambda arguments:operation'
Also note that a Lambda function can take N parametters but just can perform one operation. It is like an use & Throw Function

In [6]:
#Square of Two numbers using Lambda
y=lambda x:x*x
print(y(4))

16

# Map

Maps make an iterator that computes the function using arguments from each of the iterables.Stops when the shortest iterable is exhausted.
Syntax of map is 'map(function,iterators)

In [7]:
#Lets first perform an example without Map

In [15]:
myfriends = ['jack','sparrow','harry','potter']
uppercase=[]

for i in myfriends:
        uppercase.append(i.upper())
uppercase

['JACK', 'SPARROW', 'HARRY', 'POTTER']

In [16]:
#Lets perform the same operation using Map
output=map(str.upper,myfriends)
output
#Note that the output generated is something with type of map, we are not getting the values

In [18]:
#To get the values as Output we need to convert as List
output=list(map(str.upper,myfriends))
output

['JACK', 'SPARROW', 'HARRY', 'POTTER']

In [19]:
#Rounding off Float Number without Map
float_numbers = [4.77,2.33,9.02,10.67,0.66,4.67]
for i in float_numbers:
    print(round(i))

5
2
9
11
1
5

In [21]:
#Rounding off Float Number using Map
float_numbers = [4.77,2.33,9.02,10.67,0.66,4.67]
s=list(map(round,float_numbers))
print(s)

[5, 2, 9, 11, 1, 5]

Otherways of rounding using Map

In [23]:
float_numbers =[4.77,2.33,9.02,10.67,0.66,4.67]
round_func = [round(num,0) for num in float_numbers]
print (round_func)

[5.0, 2.0, 9.0, 11.0, 1.0, 5.0]

In [24]:
float_numbers = [4.77,2.33,9.02,10.67,0.66,4.67]
result = map(lambda number: round(number), float_numbers)
print(list(result))

[5, 2, 9, 11, 1, 5]

In [25]:
float_numbers = [4.77,2.33,9.02,10.67,0.66,4.67]
[round(i) for i in float_numbers]

[5, 2, 9, 11, 1, 5]

# Not Anonymous-Zip & Emumerate

# Zip

#### Zip is used to iterate over 2 lists in parallel. Keyword 'zip' is used

In [27]:
#Lets take an example of nested for loop to add two lists
a=[1,2,3,4,5,6]
b=[7,8,9,10,11,12]
for i in a:
    for j in b:
        print(i+j)

8
9
10
11
12
13
9
10
11
12
13
14
10
11
12
13
14
15
11
12
13
14
15
16
12
13
14
15
16
17
13
14
15
16
17
18

In [26]:
a=[1,2,3,4,5,6]
b=[7,8,9,10,11,12]
for i,j in zip(a,b):
    print(i+j)

8
10
12
14
16
18

In [29]:
#Lets have 2 List of different sizes
a=[1,2,3,4,5,6]
b=[7,8,9,10,11]
for i,j in zip(a,b):
    print(i+j)
#Note that List a is of size 6 and list b is of size 5 so the loop runs for only 5 times

8
10
12
14
16

# Enumerate

Enumerate gives indices of List as well in output. Keyword enumerate is used

In [30]:
a=['a','b','c','d']
for i,a in enumerate(a):
    print(i,a)  #where is the index

0 a
1 b
2 c
3 d

In [31]:
#Multiply 2 numbers using Zip & Enumerate

list1=[20,40,50,60]
list2=[2,4,6,8]
lst3=[]
for i,j in zip(list1,list2):
    lst3.append(i*j)
print(lst3)
for i,a in enumerate(lst3):
    print(i,a)

[40, 160, 300, 480]
0 40
1 160
2 300
3 480

In [32]:
#Otherway of doing it
a = [20,40,50,60]
b = [2,4,6,8]

for i,(j,k) in enumerate(zip(a,b)):
    print(i,j*k)

0 40
1 160
2 300
3 480

In [33]:
names = ['jack','sparrow','harry','potter']
index = [1,2,3,4]
with_index = list(zip(names,index))
print(with_index)

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

# Make use of Map and Lambda to generate the above name index combo

In [39]:
names = ['jack','sparrow','harry','potter']
index = [1,2,3,4]
l=lambda i,j:(i,j),names,index
print(l)
s=list(map(lambda i,j:(i,j),names, index))
s

(<function <lambda> at 0x000002AED8BE3708>, ['jack', 'sparrow', 'harry', 'potter'], [1, 2, 3, 4])

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

# Filter

Return an iterator yielding those items of iterable for which function(item) is true. If function is None, return the items that are true. Usually returns value after filtering

In [40]:
salary = [50000,35000,25000,60000]
def low_salary(x):
    return x<50000
for i in salary:
    if(low_salary(i)):
        print(i)

35000
25000

In [42]:
#MAP VS FILTER In terms of for loops
#MAP
salary = [50000,35000,25000,60000]
def lower_salary(salaries):
    return salaries < 50000

for i in salary:
    print(lower_salary(i))

False
True
True
False

In [46]:
#lets use the actual map function
s=list(map(lower_salary,salary))
s

#Prints Boolean Value

[False, True, True, False]

In [41]:
#Filter
salary = [50000,35000,25000,60000]
def lower_salary(salaries):
    return salaries < 50000

for i in salary:
    if(lower_salary(i)):
        print(i)

35000
25000

In [47]:
#Output gets printed in filter format
filter(lower_salary,salary)

In [49]:
#Change to list to fetch the output
list(filter(lower_salary,salary))

[35000, 25000]

Note that Map gives Boolean as Output but filter provides the actual values as Output

# List Comprehension

In [63]:
import datetime
start=datetime.datetime.now()
words = ['inceptz','batch13','pythn','class']
vowels = ['a','e','i','o','u']

for i in words:
    for j in i:
        if(j in vowels):
            print(i)
print((datetime.datetime.now()-start)*1000)

inceptz
inceptz
batch13
class
0:00:00

In [67]:
#Another way to reduce the loop
start=datetime.datetime.now()
words = ['inceptz','batch13','pythn','class']
vowels = ['a','e','i','o','u']
for i in words:
    word = list(i)
    if(any(k in vowels for k in word)):   #any returns True if a condition is satisfied
         print(i)
print((datetime.datetime.now()-start)*1000)

inceptz
batch13
class
0:00:00

In [77]:
#Another way of reducing the list
start = datetime.datetime.now()
h=[i for i in words for j in i  if j in vowels]
print(h)
print((datetime.datetime.now() - start)*1000)
# the 1st i gets printed

['inceptz', 'inceptz', 'batch13', 'class']
0:00:00

In [78]:
list_10 = [10,20,50,60]
[i for i in list_10]

[10, 20, 50, 60]

In [36]:
#Print words that has vowels
words = ['inceptz','batch13','pythn','class']
vowels = ['a','e','i','o','u']
lst=[]
lst1=[]
#for i in vowels:
#    print(i)
for j in words:
    for k in j:
        for i in vowels:
            if(i==k):
                lst.append(j)
                break
            else:
                continue     
print(lst)
for z in lst:
    if z not in lst1:
        lst1.append(z)
print(lst1)

['inceptz', 'inceptz', 'batch13', 'class']
['inceptz', 'batch13', 'class']

# Reduce

Docstring: reduce(function, sequence[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence, from left to right,
so as to reduce the sequence to a single value. For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) 
calculates ((((1+2)+3)+4)+5). If initial is present, it is placed before the items of the sequence in 
the calculation, and serves as a default when the sequence is empty.

In [85]:
from functools import reduce

nos=[1,2,7,9,10,20]

def sum_nos(first,second):
    return first+second
sum=reduce(sum_nos,nos)
print(sum)

49

# reduce(function, sequence, initial)

In [88]:
sum_diff_nos = reduce(sum_nos,nos,10)   # First the 10 gets added to the 1 in the nos list
print(sum_diff_nos)

59

In [89]:
sum_diff_nos = reduce(sum_nos,nos,5)     # First the 5 gets added to the 1 in the nos list
print(sum_diff_nos)

54