# Exercise 1: Write a function to sort the list based on the first letter of the second element

In [9]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), 
     (1805832, "West Virginia"), (39865590, "California")]
lst1=[x[1] for x in lst]
print("First List:",lst1)
lst1.sort()
lst2=[(x[1],x[0]) for x in lst]
print("Second List:",lst2)
new_dict=dict(lst2)
print("New Dict:",new_dict)
lst3=[]
for x in lst1:
    y= new_dict[x]
    print("dictof:",new_dict['New York'])
    print("y:",y)
    lst3.append((y,x))
print("Final Output:",lst3)

First List: ['New York', 'Alabama', 'Hawaii', 'Vermont', 'West Virginia', 'California']
Second List: [('New York', 19542209), ('Alabama', 4887871), ('Hawaii', 1420491), ('Vermont', 626299), ('West Virginia', 1805832), ('California', 39865590)]
New Dict: {'New York': 19542209, 'Alabama': 4887871, 'Hawaii': 1420491, 'Vermont': 626299, 'West Virginia': 1805832, 'California': 39865590}
dictof: 19542209
y: 4887871
dictof: 19542209
y: 39865590
dictof: 19542209
y: 1420491
dictof: 19542209
y: 19542209
dictof: 19542209
y: 626299
dictof: 19542209
y: 1805832
Final Output: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [18]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), 
     (1805832, "West Virginia"), (39865590, "California")]
lst.sort(key=lambda x:x[1])
#print("Final List:", final_lst)
for i,j in lst:
    print(i,j)

4887871 Alabama
39865590 California
1420491 Hawaii
19542209 New York
626299 Vermont
1805832 West Virginia

In [20]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), 
     (1805832, "West Virginia"), (39865590, "California")]
def sort(lst1):
    lst1.sort(key=lambda x:x[1])
    return lst1
print("Original List:",lst)
print("Sorted List:",sort(lst))

Original List: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted List: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

# Exercise 2: Write a function to sort the list based on the last letter of the second element

In [29]:
org_lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), 
     (1805832, "West Virginia"), (39865590, "California")]

def sort(lst):
    lst.sort(key=lambda x:x[1][::-1])
    return lst
print("Original List:",org_lst)
print("Sorted List:",sort(org_lst))

Original List: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted List: [(1805832, 'West Virginia'), (39865590, 'California'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

In [12]:
lst=['Sri','Kanna','Mani']
lst[1][::-1]

'annaK'

# Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

In [37]:
import numpy as np
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]
lst2=np.arange(1,8)
lst2

array([1, 2, 3, 4, 5, 6, 7])

In [39]:
final_lst=list(zip(lst1,lst2))
print("zip",zip(lst1,lst2))
print("Final List:",final_lst)

zip <zip object at 0x00000209875F8148>
Final List: [('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

# Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

In [47]:
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
lst2=[]
for i in lst1:
    count=0
    for j in i:
         if(j=='a' or j=='A'):
                count+=1
    lst2.append(count)    
print("Count:",lst2)

Count: [3, 2, 3, 3, 3, 3, 3]

In [57]:
#Another way of looping
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
new_lst=[b.lower().count('a') for b in lst1]
print("New List=",new_lst)

New List= [3, 2, 3, 3, 3, 3, 3]

# Exercise 5: Write a function filter all the vowels in a given string using filter.

In [78]:
str1="Inceptz is one of the best institutes to read data science in chennai"
empty_lst=[]

In [79]:
#Without filter
vowels=['a','e','i','o','u','A','E','I','O','U']
for i in str1:
     if(i in vowels):
        empty_lst.append(i)
print("Final Output:",empty_lst)

Final Output: ['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

In [81]:
#With Filter
str1="Inceptz is one of the best institutes to read data science in chennai"
empty_lst1=[]
vowels=['a','e','i','o','u','A','E','I','O','U']
filter([empty_lst1.append(i) for i in str1 if i in vowels],str1)
print("Final Output:",empty_lst1)

Final Output: ['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

# Exercise 6: Write a function to create a list as the square of elements from the given list if the square is greater than 60

In [86]:
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]
lst2=[]
def sq(nos):
    for i in nos:
        if(i*i >60):
            lst2.append(i*i)
    return lst2
print("Final Output:",sq(lst1))

Final Output: [64, 81, 100, 144, 196]

In [90]:
#Another way
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]
lst3=[x*x for x in lst1 if x*x >60]
print("Final List:",lst3)

Final List: [64, 81, 100, 144, 196]

# Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence

In [94]:
from functools import reduce 
sent_lst=['Inceptz','provides','the','best','inclass','trainings','and','is','the','best']

def fin(word1,word2):
    return word1+" "+word2
final=reduce(fin,sent_lst)
print("Final Sentence:",final)

Final Sentence: Inceptz provides the best inclass trainings and is the best