# Getting and Knowing your DataÂ¶
This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

In [10]:
chipo= pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

Step 3. Assign it to a variable called chipo.

In [11]:
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

# Step 11. What was the most ordered item in the choice_description column?

In [12]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [14]:
chipo['choice_description'].value_counts()

[Diet Coke]                                                                                                         134
[Coke]                                                                                                              123
[Sprite]                                                                                                             77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                               42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                    40
                                                                                                                   ...
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Sour Cream]]                                                           1
[Tomatillo-Green Chili Salsa (Medium), [Rice, Fajita Veggies, Cheese, Lettuce]]                                       1
[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Cheese, Sour Cream, Rice, Fajita Veggies, Guacamole]]                 1
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Fajita Veggies, Sour Cream]]                                          1
[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Fajita Veggies, Cheese, Guacamole]]      1
Name: choice_description, Length: 1043, dtype: int64

In [36]:
chipo.groupby('choice_description').sum().sort_values('quantity',ascending=False)

,order_id,quantity,item_price_dum
choice_description,,,
[Diet Coke],123455,159,326.71
[Coke],122752,143,288.79
[Sprite],80426,89,133.93
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",43088,49,432.25
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",36041,42,372.64
...,...,...,...
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Guacamole, Lettuce]]",577,1,11.25
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Sour Cream, Lettuce]]",585,1,8.75
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Lettuce, Guacamole]]",235,1,11.75
"[Roasted Chili Corn Salsa, [Guacamole, Sour Cream, Rice, Fajita Vegetables, Lettuce]]",987,1,11.25
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]",1299,1,8.99

# Step 12. How many items were orderd in total?Â¶

In [37]:
chipo['quantity'].sum()

4972

# Step 13. Turn the item price into a floatÂ¶

In [18]:
chipo['item_price_dum']=chipo['item_price']
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_dum
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
1,1,1,Izze,[Clementine],$3.39,$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,$8.75

In [23]:
chipo['item_price_dum']=chipo['item_price_dum'].str.replace('$','')

In [24]:
chipo['item_price_dum']=chipo['item_price_dum'].astype('float')

In [28]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price             object
item_price_dum        float64
dtype: object

# Step 14. How much was the revenue for the period in the dataset?Â¶

In [32]:
rev=chipo['item_price_dum'].sum()
rev

34500.16

# Step 15. How many orders were made in the period?Â¶

In [38]:
chipo['order_id'].count()

4622

In [ ]:
#16
chipo['revenue']= chipo['price']*chipo['item_price']
grouped_data=chipo.groupby(by='order_id').sum()  #group by becomes index
grouped_data.mean()['revenue']

In [39]:
#17
len(chipo.item_name.unique())

50