## Basics of Python

In [ ]:
#Comments
There are 2 types of comments in Python 
Single Line comment which is denoted by  eg: # this is a Single Line Comment
A Multiline comman which is denoted by 2 triple quotes(''' ... ''') eg: ''' This is a 
multi Line Command'''

In [3]:
#pwd gives the current working folder in Jupyter Notebook
pwd

'C:\\Users\\srika\\Documents\\Inceptez_Python'

In [8]:
#ls lists all the other folders/files available in our current folder
ls

 Volume in drive C has no label.
 Volume Serial Number is 02EE-5CA9

 Directory of C:\Users\srika\Documents\Inceptez_Python

03/30/2020  06:17 AM    <DIR>          .
03/30/2020  06:17 AM    <DIR>          ..
03/30/2020  06:03 AM    <DIR>          .ipynb_checkpoints
03/30/2020  06:01 AM             2,923 PyBasics.ipynb
03/30/2020  06:17 AM             2,324 PythonBasics1.ipynb
               2 File(s)          5,247 bytes
               3 Dir(s)  97,828,392,960 bytes free

In [11]:
#print is the keyword used to print in python
print('hello welcome')
print("hello how is it going")
# Whatever we needed to print can be within Single quotes('') or double quotes("")

hello welcome
hello how is it going

# Keywords,Variables and Identifiers

In [2]:
#Keywords are special/reserve words in python which has special purpose. We cannot use those as 
#Variable Names or function names. Eg: True, False and those are highlighted in GREEN color as shown below'''

'Keywords are special/reserve words in python which has special purpose. We cannot use those as \nVariable Names or function names'

In [3]:
False

False

In [5]:
#keyword.kwlist - list all keywords available in Python
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
#Identifiers- Are User defined names to identify a variable, Functions , classes or module
#Rules of Identifiers
''' Cannot be a Keyword
    cannot start with numbers
    No space inbetween
    No special character like !,@,#,$,% (as these have some special purpose in Python already, eg:# for comment)
    starts with a letter A to Z or a to z or an underscore (_)
    it is Case Sensistive  '''

In [7]:
#Variables- Temporary Values that are suspectable to change. Also it can said as memory holders or entity whose 
#value will change during the program execution

In [4]:
# In the below example, 'a' is a variable
a=100
# we can print the same variable
print(a)
# we cannot assign value to a keyword for eg:True=100
''' File "<ipython-input-3-95560e349f3c>", line 1
    True=100
            ^
SyntaxError: can't assign to keyword '''
# Other  examples which throw similar error are 
   #   20book=100
   #   a b=1
   #  !number=45

100

' File "<ipython-input-3-95560e349f3c>", line 1\n    True=100\n            ^\nSyntaxError: can\'t assign to keyword '

In [14]:
#Assignment - it means assigning values to variables
# Here we are assigning values of 10 to z
z=10
# We can also do multiple assignments in a Single line
s,t,y = 20,25,'chennai'
print(s,t,y)

20 25 chennai

In [15]:
#iskeword - this tells whether the inputed word is a keyword or not
import keyword
keyword.iskeyword('break')
#if True is returned then inputed word is a keyword

True

In [16]:
keyword.iskeyword('b')
# here False is returned so 'b' is not a keyword

False

# Data Types

In [17]:
#Data types tells to which type a data belongs to. Some Data Types in Python are
    #int
    #float
    #string
    #boolean
    #complex
    #list
    #tuples
    #set
    #dict

# Integers

In [18]:
# Represented as int, it takes whole numbers
balls =6
type(balls)
#type keywords returns what data type a variable is, here balls is of type int

int

# Decimals

In [19]:
# Represented as float, it takes decimal or float values
weight =50.6
type(weight) # returns weight of type float

float

# String

In [21]:
#String are represented as str and takes alphanumric values. It is declared by either single or double quotes
country='India'
my_name="hello"
type(country)
type(my_name)

str

# Boolean

In [25]:
# Boolean are represented as bool and it returns either True or False
test=True
b="False"
c=100
print(type(test))
print(type(b))
print(type(c))

<class 'bool'>
<class 'str'>
<class 'int'>

# Complex

In [26]:
# Complex number are represented in complex data types
c=6+2j
type(c)

complex

# List

In [ ]:
#List is data structure in Python which has the following properpties
      #Allows hetrogeneous(different types) of elements
      #represented in square brackets []
      #Index always starts with 0
      #Elements can be accessed by using Index
      #Can contain Zero elements i.e Empty List
      #it is mutable(elements can be changed)

In [34]:
# Examples of List
example_list= [20,25,'Hello',6-3j]
# this contains different data types such as int, String, complex
  
# Access values by index
first_value=example_list[0]
print(first_value)

last_value=example_list[3]
print(last_value)

# Changing Values in list
example_list[1] = True
print(example_list)

20
(6-3j)
[20, True, 'Hello', (6-3j)]

In [35]:
#type the list name with dot(.) and hit tab to see different actions that can be performed using List.
#  Another way of getting the different actions is using 'dir' command
dir(example_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
#help command - it tells what a particular command can do
help(example_list.sort)
''' Also Shift+Tab helps to bring the docString of a Particular funcation i.e it tells what a 
particular function is capable of '''

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

# List Operations

In [44]:
#Lets see few List operations that can be performed

test_list=[16,1,100,67,12,18,55,1]
#Sort - sorts in ascending order, by default the parameter is reverse=False
test_list.sort()
print(test_list)
# the original value gets changed even without assigning to test_list

test_list.sort(reverse=True)
print(test_list)

[1, 1, 12, 16, 18, 55, 67, 100]
[100, 67, 55, 18, 16, 12, 1, 1]

In [45]:
#count - returns the count of a particular value
print(test_list.count(1))

2

In [47]:
#extend - adds the particular Values we are giving to the end of the list
test_list.extend([0,50])
print(test_list)
# we can extend 1 value also
test_list.extend([75])
print(test_list)

[100, 67, 55, 18, 16, 12, 1, 1, 0, 50, 0, 50]
[100, 67, 55, 18, 16, 12, 1, 1, 0, 50, 0, 50, 75]

In [49]:
#append - adds just the one value that we are inputting to the end of the list
test_list.append(1000)
print(test_list)

[100, 67, 55, 18, 16, 12, 1, 1, 0, 50, 0, 50, 75, 1000, 1000]

In [55]:
#insert - performs inserts of the metioned value before the mentioned index
#Lets add Value of 0 to the 1st poistion of the list
test_list.insert(1,0)
print(test_list)

[100, 0, 67, 55, 18, 16, 12, 1, 1, 0, 50, 0, 50, 75, 1000, 1000]

In [58]:
# pop - this removes values at the last
# Lets remove the last 1000 from our list, it returns the element that was removed
test_list.pop()

1000

In [63]:
#remove -this list function removes any mentioned value from the list
  # if there are two occurences of the same value then the 1st value would be removed
# Lets remove 1 which occures after 12 from the list
test_list.remove(1)
print(test_list)

[100, 0, 67, 55, 18, 16, 12, 0, 50, 0, 50, 75, 1000]

# List Slicing

In [66]:
#List Slicing cuts the lists and forms new Lists
# Currently our list is [100, 0, 67, 55, 18, 16, 12, 0, 50, 0, 50, 75, 1000]
# lets take the 1st 4 values alone

test_list[0:4]
#where 0 is the starting range, the ending range is 4 which means the 5th element(element in 4th index will not be included

[100, 0, 67, 55]

In [67]:
# We can leave the end range as empty

test_list[6:]
# this returns values from 6th index to end of the List

[12, 0, 50, 0, 50, 75, 1000]

In [69]:
# We can also leave the start range as empty

test_list[:3]
# this returns values from 0th index to 2nd index

[100, 0, 67]

In [74]:
#Slicing of Complex list
complex_list=[1,[2,3],[4,5],['z',['a','b']]]

print(complex_list[2])       # returns 2nd index values
print(complex_list[3])       # returns 3rd index values
print(complex_list[1][1])    # returns 1st position value in the 1st index value 
print(complex_list[3][1])    # returns 1st position value in the 3rd index value 
print(complex_list[3][1][0]) # [3][1] returns ['z',['a','b']] and [0] returns 1st value i.e 'a'

[4, 5]
['z', ['a', 'b']]
3
['a', 'b']
a

# Tuple

In [ ]:
#Tuples are immutable hetrogenous data types and are represented with round brackets()
# Note that the difference between List and Tuple are
    # List - Mutable, Tuple - immutable
    # List- Represented as Square bracket[], Tuple - represented as round bracket()
    # List- accessed by using index, Tuple - cannot be access by index

In [84]:
test_tuple=(1,6.5,'abcd',12+6j,12,1)
print(test_tuple) # prints the entire tuple

#type
print(type(test_tuple))  # prints tuple as type
#Count- returns the no.of occurences of 1 from the above tuple
print(test_tuple.count(1))  
#index- returns the index of a particulr Value
print(test_tuple.index(6.5))
 # if there are 2 occurences of same value multiple times, it returns the 1st occurence
print(test_tuple.index(1)) # in this case 1 is occuring in 0th & 5th index & index() returns 0 since it is the 1st ocurence

(1, 6.5, 'abcd', (12+6j), 12, 1)
<class 'tuple'>
2
1
0

In [86]:
test_tuple[0]="Change tuple value"
# we are trying to assign the above value to 0th index but since tuple is immutable, it throws a 'Type error'

TypeError: 'tuple' object does not support item assignment

In [89]:
# We can create empty tuple but cannot assign Values to it
empty_tuple=()
empty_tuple(0)=100
print(empty_tuple)

SyntaxError: can't assign to function call (<ipython-input-89-bff7d3d82313>, line 3)

In [93]:
#redeclaring works in a tuple
empty_tuple_redeclare=()
print(empty_tuple_redeclare)
empty_tuple_redeclare=("new","values","assigned")
print(empty_tuple_redeclare)

()
('new', 'values', 'assigned')

In [91]:
# deleting a tuple, 'del' function is used
del_tuple=(1,2,3)
print(del_tuple)
del(del_tuple)
print(del_tuple) # name error would occur that 'del_tuple' is undefined

(1, 2, 3)

NameError: name 'del_tuple' is not defined

In [ ]:
# Where to use Tuple
 # tuple can be used where we need to preserve the master data 
    # Examples: Saving days, months since we dont change those values and also for saving tables

# Set

In [ ]:
#Set has the below properties and can be defined as a collection of data type which is unindexed, no Duplicates
'''
Allows hetrogeneous elements
Represented using flower brackets {}
Does not allow duplicate elements
Cannot be accessed by indexing
sometimes ordered
'''

In [2]:
sample_set={1,2,35,4,'hi','hello',10}

print(sample_set[3])   # Throws type error as we cannot access a set by index

TypeError: 'set' object is not subscriptable

In [3]:
#cannot add elements by indexing in a set throws Type error
sample_set[2]=9

TypeError: 'set' object does not support item assignment

In [7]:
Sample_set_dup={3,35,1,2,3,4,5,1,1,'a','abc',2,2,7,8,3,3,'a'}
print(Sample_set_dup) # output would be {1, 2, 35, 3, 4, 5, 'abc', 7, 8, 'a'} by removing duplicates

{1, 2, 35, 3, 4, 5, 'abc', 7, 8, 'a'}

In [8]:
#An element can be added at last in a Set by using add function
Sample_set_dup.add('1element')
print(Sample_set_dup)

{1, 2, 35, 3, 4, 5, 'abc', 7, 8, 'a', '1element'}

# Dictionary

In [ ]:
#Dictionaries are Data Structures that allows to store elements as Key-Value Pair. Proerties of a Dictionary are below
'''
Key-Value Pair data structure and using flower brackets{}
Key is unique and Value can be duplicated
Value can be retrieved using Key
Value can be changed using key
key is not changeable(immutable)
'''
#Note - Order in which Dictornary returns value is not guaranteed

In [32]:
Sample_dict={1:'one',2:'two','a':'alpha',"b":"beta",3:'three',4:'four','c':"gamma"}
print(Sample_dict)

'''
Lets take the 1st value 1:'one', here
1 is the key and 'one' is the value. For retrieving the value of 'one', we can use its key value 1
'''
print(Sample_dict[1])

# to retrieve beta value, lets use key value b for getting it
print(Sample_dict['b'])

{1: 'one', 2: 'two', 'a': 'alpha', 'b': 'beta', 3: 'three', 4: 'four', 'c': 'gamma'}
one
beta

In [33]:
#Dictionaries are mutable
Sample_dict[3]='3'
print(Sample_dict)  # the element would be changed to 3: '3' from 3: 'three'

{1: 'one', 2: 'two', 'a': 'alpha', 'b': 'beta', 3: '3', 4: 'four', 'c': 'gamma'}

In [34]:
# Removing an element using key
Sample_dict.pop('c')  # this removes the key value Pair 'c':'gamma'
print(Sample_dict)  # O/p ->{1: 'one', 2: 'two', 'a': 'alpha', 'b': 'beta', 3: '3', 4: 'four'}

{1: 'one', 2: 'two', 'a': 'alpha', 'b': 'beta', 3: '3', 4: 'four'}

In [35]:
# Removing element using key value Pair
Sample_dict.popitem()
print(Sample_dict) # Removes the last key value pair and returns the remaining Set of values

{1: 'one', 2: 'two', 'a': 'alpha', 'b': 'beta', 3: '3'}

In [20]:
#Lets try to retrieve a value using a Key which is not available
print(Sample_dict[9]) # it throws a keyerror which states the Key mentioned 9 is not available

KeyError: 9

In [ ]:
#Types of error - Name error, Type Error, Value Error, Syntax Error

# String

In [36]:
'''
Strings are an array of bytes reprsenting unicode characters i.e Strings are a group of Characters
In Python, below are properties of a String
     Does not support Character Data type so it is a String of Length 1
     Represented using single quotes('') or double quotes("")
     String can be retrieved using index
     String is immutable
'''

'\nStrings are an array of bytes reprsenting unicode characters i.e Strings are a group of Characters\nIn Python, below are properties of a String\n     Does not support Character Data type so it is a String of Length 1\n     Represented using single quotes(\'\') or double quotes("")\n     String can be retrieved using index\n     String is immutable\n'

In [37]:
#String Declaration
Sample_String ="Hello, How are you?"
b='World'

#Lets get the types of Sample_String and b printed which would be 'str'
print(type(Sample_String))
print(type(b))

<class 'str'>
<class 'str'>

In [39]:
# Retrieve Value using index
Sample_String[0]  # it prints the 0th index Value 'H'

'H'

In [40]:
# We can 2 Strings
Sample_String + b

'Hello, How are you?World'

In [41]:
#String are immutable , lets try by assiging a new value through indexing
Sample_String[0] ='U'  #this throws TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

# Type Conversion

In [43]:
#Type Conversion is converting One data type to another i.e Type Casting
 # Here lets declare an integer
a=10
type(a)

int

In [56]:
a=str(a)        # converting an int to str
print(a)
print(type(a))  # Outputs type of a as Str

10
<class 'str'>

In [59]:
#int to  float conversion
b=17
print(type(b))
b=float(b)
print("After converting an int to float:",type(b))
print(b)

<class 'int'>
After converting an int to float: <class 'float'>
17.0

In [51]:
#Convert a String to tuple
Str_Sample1= 'myworld'
print(type(Str_Sample1))
Tuple_Sample1=tuple(Str_Sample1)
print("After converting a string to tuple:",Tuple_Sample1)

<class 'str'>
After converting a string to tuple: ('m', 'y', 'w', 'o', 'r', 'l', 'd')

In [52]:
#Converting a List to set
Sample_List1=['h','e','l','l','o']
print(type(Sample_List1))
Sample_set1=set(Sample_List1)
print("After converting a List to Set:",Sample_set1) #duplicate gets removed

<class 'list'>
After converting a List to Set: {'l', 'o', 'h', 'e'}

In [67]:
#convert a List to Dictionary
Sample_List2=[[1,2],[2,3],[4,5],['z',['a','b']]]
print(Sample_List2[3][1][1])
Sample_dict2=dict(Sample_List2)
print("After converting a List to Dictionary:",Sample_dict2)

b
After converting a List to Dictionary: {1: 2, 2: 3, 4: 5, 'z': ['a', 'b']}

In [69]:
#2 Lists

lst1 = [1,2,3,4,5]
lst2 = lst1
print("Before defining new values for lst2",lst2)
lst2 = [2,3,4,5,6]
print(lst2)
print(lst1)

Before defining new values for lst2 [1, 2, 3, 4, 5]
[2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [70]:
lst3 = [1,2,3,4,5]
lst4 = lst3 
lst4[2] = 20     # this affects value of lst3 & lst4 both 
print(lst4)
print(lst3)

[1, 2, 20, 4, 5]
[1, 2, 20, 4, 5]