# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [3]:
drinks.groupby(['continent']).sum().sort_values('beer_servings',ascending=False)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
EU,8720,5965,6400,387.8
AF,3258,866,862,159.4
SA,2101,1377,749,75.7
AS,1630,2677,399,95.5
OC,1435,935,570,54.1

In [4]:
drinks.groupby(['continent']).agg({'beer_servings':np.mean},ascending=True).max()

beer_servings    193.777778
dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [5]:
drinks.groupby(['continent']).agg({'wine_servings':np.sum})

           wine_servings
continent
AF                   862
AS                   399
EU                  6400
OC                   570
SA                   749

### Step 6. Print the mean alcoohol consumption per continent for every column

In [6]:
drinks.groupby(['continent']).agg({'total_litres_of_pure_alcohol':np.mean})

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [7]:
drinks.groupby(['continent']).agg({'total_litres_of_pure_alcohol':np.median})

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [9]:
drinks['spirit_servings'].mean()

80.99481865284974

In [10]:
drinks['spirit_servings'].min()

0

In [11]:
drinks['spirit_servings'].max()

438