# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data",sep=' ',)

In [4]:
data.head()

,Yr,Mo,Dy,Unnamed: 3,Unnamed: 4,RPT,Unnamed: 6,Unnamed: 7,VAL,Unnamed: 9,...,MUL,Unnamed: 30,Unnamed: 31,CLO,Unnamed: 33,Unnamed: 34,BEL,Unnamed: 36,Unnamed: 37,MAL
0,61,NaN,1.0,NaN,1.0,15.04,14.96,13.17,NaN,9.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,61,NaN,1.0,NaN,2.0,14.71,NaN,NaN,NaN,10.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,61,NaN,1.0,NaN,3.0,18.50,16.88,12.33,10.13,11.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,61,NaN,1.0,NaN,4.0,10.58,NaN,6.63,11.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,61,NaN,1.0,NaN,5.0,13.33,13.25,11.42,NaN,6.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data=pd.read_fwf("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data")

In [6]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
3,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
4,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88

In [7]:
data.iloc[0]

Unnamed: 0      Yr
Unnamed: 1      Mo
Unnamed: 2      Dy
Unnamed: 3     RPT
Unnamed: 4     VAL
Unnamed: 5     ROS
Unnamed: 6     KIL
Unnamed: 7     SHA
Unnamed: 8     BIR
Unnamed: 9     DUB
Unnamed: 10    CLA
Unnamed: 11    MUL
Unnamed: 12    CLO
Unnamed: 13    BEL
Unnamed: 14    MAL
Name: 0, dtype: object

In [8]:
#changing the columns to 1st row

data.columns=data.iloc[0]
data=data.iloc[1:]   # to again remove the columns from 1st row
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
3,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
4,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
5,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [9]:
data=data.rename(columns={'Yr':'Year', 'Mo':'Month','Dy':"Day"})
data.head()

,Year,Month,Day,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
3,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
4,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
5,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [10]:
data.dtypes

0
Year     object
Month    object
Day      object
RPT      object
VAL      object
ROS      object
KIL      object
SHA      object
BIR      object
DUB      object
CLA      object
MUL      object
CLO      object
BEL      object
MAL      object
dtype: object

In [11]:
data['Year']=pd.to_numeric(data['Year']) +1900
data.head()

,Year,Month,Day,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
3,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
4,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
5,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [12]:
data['Date']=pd.to_datetime(data[['Year','Month','Day']])

data.set_index('Date',inplace=True)
data.head()
data.drop(columns={'Year','Month','Day'},inplace=True)#another to do it is del data['Year']

In [13]:
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [14]:
data.dtypes

0
RPT    object
VAL    object
ROS    object
KIL    object
SHA    object
BIR    object
DUB    object
CLA    object
MUL    object
CLO    object
BEL    object
MAL    object
dtype: object

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [15]:
data['Date_Dup']=data.index
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date_Dup
Date,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05

In [16]:

data['Date_Dup'].dt.year == '2061'

C:\Users\srika\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Date
1961-01-01    False
1961-01-02    False
1961-01-03    False
1961-01-04    False
1961-01-05    False
              ...
1978-12-27    False
1978-12-28    False
1978-12-29    False
1978-12-30    False
1978-12-31    False
Name: Date_Dup, Length: 6574, dtype: bool

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [17]:
data.index

DatetimeIndex(['1961-01-01', '1961-01-02', '1961-01-03', '1961-01-04',
               '1961-01-05', '1961-01-06', '1961-01-07', '1961-01-08',
               '1961-01-09', '1961-01-10',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name='Date', length=6574, freq=None)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [18]:
data.isna().sum()

0
RPT         6
VAL         3
ROS         2
KIL         5
SHA         2
BIR         0
DUB         3
CLA         2
MUL         3
CLO         1
BEL         0
MAL         4
Date_Dup    0
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [19]:
#Overall Data
data.count()
sum(data.count())  #Sum of all Values

85431

In [20]:
(data.isna().sum()).sum()   #Sum of NA Values alone

31

In [21]:
print('Non-Missing Values=',sum(data.count())-(data.isna().sum()).sum() )

Non-Missing Values= 85400

In [22]:
data.dropna(inplace=True)

In [23]:
del data['Date_Dup']

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [24]:
#Change all the data types to float
datanew=data.apply(lambda x: x.astype('float64'),axis=1)

In [25]:
datanew.dtypes

0
RPT    float64
VAL    float64
ROS    float64
KIL    float64
SHA    float64
BIR    float64
DUB    float64
CLA    float64
MUL    float64
CLO    float64
BEL    float64
MAL    float64
dtype: object

In [26]:
(datanew.apply(lambda x:x.mean(),axis=0)).mean()

10.222465245951712

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [27]:
datanew.describe()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6546.000000,6546.000000,6546.000000,6546.000000,6546.000000,6546.000000,6546.000000,6546.000000,6546.000000,6546.000000,6546.000000,6546.000000
mean,12.359979,10.640267,11.656396,6.298587,10.448923,7.085066,9.793006,8.486601,8.490257,8.696705,13.110668,15.603129
std,5.618805,5.268695,5.007805,3.600942,4.933988,3.967735,4.978030,4.498299,4.165947,4.500488,5.829054,6.702178
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,7.970000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.670000,10.710000
50%,11.710000,10.130000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.250000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.380000,13.540000,9.670000,12.960000,11.420000,11.170000,11.580000,16.880000,19.860000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [41]:
mini=datanew.min(axis=1)
mini

Date
1961-01-04    1.79
1961-01-05    6.17
1961-01-06    4.42
1961-01-07    4.96
1961-01-08    5.91
              ...
1978-12-27    8.08
1978-12-28    5.00
1978-12-29    8.71
1978-12-30    9.13
1978-12-31    9.59
Length: 6546, dtype: float64

In [42]:
maxi=datanew.max(axis=1)
maxi

Date
1961-01-04    11.75
1961-01-05    13.33
1961-01-06    13.21
1961-01-07    14.29
1961-01-08    16.62
              ...
1978-12-27    40.08
1978-12-28    41.46
1978-12-29    29.58
1978-12-30    28.79
1978-12-31    27.29
Length: 6546, dtype: float64

In [43]:
maxi=datanew.max(axis=1)
maxi

Date
1961-01-04    11.75
1961-01-05    13.33
1961-01-06    13.21
1961-01-07    14.29
1961-01-08    16.62
              ...
1978-12-27    40.08
1978-12-28    41.46
1978-12-29    29.58
1978-12-30    28.79
1978-12-31    27.29
Length: 6546, dtype: float64

In [44]:
aver= datanew.mean(axis=1)
aver

Date
1961-01-04     6.619167
1961-01-05    10.630000
1961-01-06     8.240000
1961-01-07    10.385000
1961-01-08    10.487500
                ...
1978-12-27    16.708333
1978-12-28    15.150000
1978-12-29    14.890000
1978-12-30    15.367500
1978-12-31    15.402500
Length: 6546, dtype: float64

In [51]:
standard=datanew.std(axis=1)
standard

Date
1961-01-04    3.198126
1961-01-05    2.445356
1961-01-06    2.998063
1961-01-07    3.072114
1961-01-08    3.547237
                ...
1978-12-27    7.868076
1978-12-28    9.687857
1978-12-29    5.756836
1978-12-30    5.540437
1978-12-31    5.702483
Length: 6546, dtype: float64

In [54]:
mini_series=pd.Series(mini,name='Min')
maxi_series=pd.Series(maxi,name='Max')
mean_Series=pd.Series(aver,name='Mean')
std_Series=pd.Series(standard,name='Std')

In [55]:
day_stats=pd.concat([mini_series,maxi_series,mean_Series,std_Series],axis=1)
day_stats

             Min    Max       Mean       Std
Date
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356
1961-01-06  4.42  13.21   8.240000  2.998063
1961-01-07  4.96  14.29  10.385000  3.072114
1961-01-08  5.91  16.62  10.487500  3.547237
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[6546 rows x 4 columns]

In [58]:

#Just converting into DataFrame wont work out.. Concat is the correct way
day=pd.DataFrame(data=[mini_series,maxi_series])

In [60]:
day

Date,1961-01-04,1961-01-05,1961-01-06,1961-01-07,1961-01-08,1961-01-09,1961-01-10,1961-01-11,1961-01-12,1961-01-13,...,1978-12-22,1978-12-23,1978-12-24,1978-12-25,1978-12-26,1978-12-27,1978-12-28,1978-12-29,1978-12-30,1978-12-31
Min,1.79,6.17,4.42,4.96,5.91,4.75,6.54,2.79,9.46,0.58,...,2.46,9.50,4.79,0.75,1.96,8.08,5.00,8.71,9.13,9.59
Max,11.75,13.33,13.21,14.29,16.62,15.37,19.50,20.71,19.75,9.92,...,13.08,22.21,31.71,13.96,13.83,40.08,41.46,29.58,28.79,27.29

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [70]:
datanew['Month']=datanew.index.month
datanew.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month
Date,,,,,,,,,,,,,
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1
1961-01-06,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17,1
1961-01-07,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79,1
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46,1

In [79]:
dataJan=datanew.query('Month==1')
dataJanmean=dataJan.mean(axis=0)
dataJanmean

0
RPT      14.831609
VAL      12.885389
ROS      13.276275
KIL       7.152477
SHA      11.644467
BIR       8.030561
DUB      11.788336
CLA       9.486962
MUL       9.511501
CLO      10.024069
BEL      14.527848
MAL      18.041826
Month     1.000000
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [82]:
datanew['Year']=datanew.index.year
datanew.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year
Date,,,,,,,,,,,,,,
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1,1961
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1,1961
1961-01-06,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17,1,1961
1961-01-07,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79,1,1961
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46,1,1961

In [86]:
datanew.groupby('Year').sum()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month
Year,,,,,,,,,,,,,
1961,4150.58,3470.45,3836.17,2327.79,3652.53,2589.83,3275.31,2952.87,2914.46,3298.16,4512.33,4619.65,2254
1962,4443.47,3674.61,4240.60,2521.09,3870.60,2684.35,3997.61,3196.39,3017.47,3509.16,4700.82,5198.84,2374
1963,4676.91,3955.50,4577.52,2675.47,4279.30,3078.67,4042.63,3772.84,3249.81,3731.92,4978.19,5474.64,2382
1964,4525.10,3996.78,4430.20,2484.33,4192.34,2770.94,3754.85,3465.05,2850.78,3736.11,5029.04,5457.17,2384
1965,4544.75,4042.57,4324.80,2503.34,4024.05,2729.51,3875.83,3241.17,2886.21,3620.10,4731.95,5690.95,2382
1966,4913.62,4218.38,4387.53,2681.19,4308.84,2844.69,3861.63,3224.81,3107.77,3565.67,5207.03,5952.15,2382
1967,4649.06,4011.71,4284.88,2607.35,4245.22,2689.38,3887.99,3403.85,3155.43,3484.81,5392.71,6254.62,2382
1968,4331.84,3831.36,4175.97,2370.83,3938.44,2220.64,3242.46,3021.52,2644.33,2866.87,4687.96,5496.40,2384
1969,4075.72,3549.15,3979.23,2105.31,3603.98,2259.34,3126.04,2814.66,2892.45,2830.35,4606.75,5753.46,2382
1970,4599.12,3915.33,4281.54,2269.27,3857.09,2777.45,3507.61,3042.14,3393.63,3025.78,4812.03,6006.45,2382
1971,4114.69,3319.74,4047.24,1913.15,3445.72,2225.46,3060.85,2466.42,2889.11,2638.86,4456.26,5484.21,2382
1972,4561.81,3865.44,4413.35,2170.27,3451.53,2327.33,3551.85,2811.17,3058.77,2750.59,4658.22,5500.51,2384
1973,4317.39,3898.38,3898.38,2024.97,3518.92,2390.29,3095.97,2779.21,3009.62,2851.53,4441.94,5636.00,2382
1974,4979.73,4311.30,4502.77,2345.87,4055.51,2485.57,3680.88,3612.40,3406.09,3188.77,4837.33,6185.90,2382
1975,4383.13,3757.25,4221.12,1923.22,3354.38,2069.01,3125.35,2863.00,3211.25,2694.73,4610.56,5587.37,2382
1976,4296.05,3734.34,3938.61,1870.05,3237.76,2309.84,3348.58,2615.51,3251.44,2885.21,4513.65,5662.55,2384
1977,4781.36,4067.74,4609.16,2216.99,3651.40,3134.05,4205.97,3058.11,3320.84,3219.89,4912.56,6055.66,2382
1978,4564.09,4031.16,4153.70,2220.06,3711.04,2792.49,3463.61,3212.17,3317.76,3030.12,4733.10,6121.55,2382

In [90]:
datanew.resample('1Y').sum()   ## or mean

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year
Date,,,,,,,,,,,,,,
1961-12-31,4150.58,3470.45,3836.17,2327.79,3652.53,2589.83,3275.31,2952.87,2914.46,3298.16,4512.33,4619.65,2254,666740
1962-12-31,4443.47,3674.61,4240.60,2521.09,3870.60,2684.35,3997.61,3196.39,3017.47,3509.16,4700.82,5198.84,2374,710244
1963-12-31,4676.91,3955.50,4577.52,2675.47,4279.30,3078.67,4042.63,3772.84,3249.81,3731.92,4978.19,5474.64,2382,716495
1964-12-31,4525.10,3996.78,4430.20,2484.33,4192.34,2770.94,3754.85,3465.05,2850.78,3736.11,5029.04,5457.17,2384,718824
1965-12-31,4544.75,4042.57,4324.80,2503.34,4024.05,2729.51,3875.83,3241.17,2886.21,3620.10,4731.95,5690.95,2382,717225
1966-12-31,4913.62,4218.38,4387.53,2681.19,4308.84,2844.69,3861.63,3224.81,3107.77,3565.67,5207.03,5952.15,2382,717590
1967-12-31,4649.06,4011.71,4284.88,2607.35,4245.22,2689.38,3887.99,3403.85,3155.43,3484.81,5392.71,6254.62,2382,717955
1968-12-31,4331.84,3831.36,4175.97,2370.83,3938.44,2220.64,3242.46,3021.52,2644.33,2866.87,4687.96,5496.40,2384,720288
1969-12-31,4075.72,3549.15,3979.23,2105.31,3603.98,2259.34,3126.04,2814.66,2892.45,2830.35,4606.75,5753.46,2382,718685
1970-12-31,4599.12,3915.33,4281.54,2269.27,3857.09,2777.45,3507.61,3042.14,3393.63,3025.78,4812.03,6006.45,2382,719050
1971-12-31,4114.69,3319.74,4047.24,1913.15,3445.72,2225.46,3060.85,2466.42,2889.11,2638.86,4456.26,5484.21,2382,719415
1972-12-31,4561.81,3865.44,4413.35,2170.27,3451.53,2327.33,3551.85,2811.17,3058.77,2750.59,4658.22,5500.51,2384,721752
1973-12-31,4317.39,3898.38,3898.38,2024.97,3518.92,2390.29,3095.97,2779.21,3009.62,2851.53,4441.94,5636.00,2382,720145
1974-12-31,4979.73,4311.30,4502.77,2345.87,4055.51,2485.57,3680.88,3612.40,3406.09,3188.77,4837.33,6185.90,2382,720510
1975-12-31,4383.13,3757.25,4221.12,1923.22,3354.38,2069.01,3125.35,2863.00,3211.25,2694.73,4610.56,5587.37,2382,720875
1976-12-31,4296.05,3734.34,3938.61,1870.05,3237.76,2309.84,3348.58,2615.51,3251.44,2885.21,4513.65,5662.55,2384,723216
1977-12-31,4781.36,4067.74,4609.16,2216.99,3651.40,3134.05,4205.97,3058.11,3320.84,3219.89,4912.56,6055.66,2382,721605
1978-12-31,4564.09,4031.16,4153.70,2220.06,3711.04,2792.49,3463.61,3212.17,3317.76,3030.12,4733.10,6121.55,2382,721970

### Step 13. Downsample the record to a monthly frequency for each location.

In [91]:
datanew.resample('1M').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year
Date,,,,,,,,,,,,,,
1961-01-31,14.506154,11.225385,12.960385,6.840000,10.509231,8.174231,10.403077,8.670769,8.323462,9.490385,13.270000,14.341538,1,1961
1961-02-28,16.401923,15.037308,14.470000,9.242692,13.778077,10.884615,11.868077,11.746154,11.748462,12.626538,18.165000,15.300769,2,1961
1961-03-31,10.660000,11.097407,10.420000,7.100741,10.265556,8.580000,9.108519,9.329259,10.100000,10.989630,16.066296,15.418889,3,1961
1961-04-30,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333,4,1961
1961-05-31,10.024643,8.495714,10.539286,5.992500,9.480357,6.633929,7.645714,8.206786,8.120714,8.534643,11.912143,11.911786,5,1961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08-31,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194,8,1978
1978-09-30,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333,9,1978
1978-10-31,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000,10,1978
1978-11-30,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000,11,1978
1978-12-31,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613,12,1978

### Step 14. Downsample the record to a weekly frequency for each location.

In [92]:
datanew.resample('1W').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year
Date,,,,,,,,,,,,,,
1961-01-08,12.316000,10.408000,10.050000,5.658000,8.506000,6.242000,10.936000,5.932000,8.150000,8.428000,11.416000,13.226000,1.000000,1961.0
1961-01-15,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286,1.000000,1961.0
1961-01-22,12.100000,9.500000,11.681667,4.293333,8.966667,6.938333,7.828333,7.291667,5.891667,6.693333,9.993333,10.346667,1.000000,1961.0
1961-01-29,19.880000,14.846667,17.548333,11.916667,16.325000,14.016667,14.450000,14.311667,13.316667,14.921667,19.800000,22.388333,1.000000,1961.0
1961-02-05,16.827143,15.460000,12.618571,8.247143,13.361429,9.107143,12.204286,8.548571,9.821429,9.460000,14.012857,11.935714,1.714286,1961.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-03,14.934286,11.232857,13.941429,5.565714,10.215714,8.618571,9.642857,7.685714,9.011429,9.547143,11.835714,18.728571,11.428571,1978.0
1978-12-10,20.740000,19.190000,17.034286,9.777143,15.287143,12.774286,14.437143,12.488571,13.870000,14.082857,18.517143,23.061429,12.000000,1978.0
1978-12-17,16.758571,14.692857,14.987143,6.917143,11.397143,7.272857,10.208571,7.967143,9.168571,8.565714,11.102857,15.562857,12.000000,1978.0
1978-12-24,11.155714,8.008571,13.172857,4.004286,7.825714,6.290000,7.798571,8.667143,7.151429,8.072857,11.845714,18.977143,12.000000,1978.0
1978-12-31,14.951429,11.801429,16.035714,6.507143,9.660000,8.620000,13.708571,10.477143,10.868571,11.471429,12.947143,26.844286,12.000000,1978.0

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [97]:
datanew1=datanew.copy()
datanew1['Month_str']=datanew1['Month'].apply(lambda x: str(x))
datanew1['Year_str']=datanew1['Year'].apply(lambda x: str(x))
datanew1['Year-Month']=datanew1['Year_str']+'-'+datanew1['Month_str']
datanew1.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year,Month_str,Year_str,Year-Month
Date,,,,,,,,,,,,,,,,,
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1,1961,1,1961,1961-1
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1,1961,1,1961,1961-1
1961-01-06,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17,1,1961,1,1961,1961-1
1961-01-07,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79,1,1961,1,1961,1961-1
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46,1,1961,1,1961,1961-1

In [98]:
datanew1.groupby('Year-Month').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year
Year-Month,,,,,,,,,,,,,,
1961-1,14.506154,11.225385,12.960385,6.840000,10.509231,8.174231,10.403077,8.670769,8.323462,9.490385,13.270000,14.341538,1,1961
1961-10,13.871379,10.635517,12.123103,8.020345,11.528966,8.150000,11.154483,9.054828,9.113103,11.297586,13.840000,16.515862,10,1961
1961-11,11.056552,8.542759,12.106552,6.183793,9.133793,6.249310,10.869655,6.291379,6.673793,8.434138,10.783448,12.418276,11,1961
1961-12,14.973548,11.903871,13.980323,7.073871,11.323548,8.302258,11.753548,8.163226,7.965806,9.246774,12.239355,13.098710,12,1961
1961-2,16.401923,15.037308,14.470000,9.242692,13.778077,10.884615,11.868077,11.746154,11.748462,12.626538,18.165000,15.300769,2,1961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-5,8.270645,7.226774,6.901613,3.740645,6.973871,4.449677,5.420968,6.130645,5.742581,5.926452,9.263548,10.756452,5,1978
1978-6,11.386667,9.474333,10.253333,6.053000,10.395333,7.490333,7.928000,7.802000,8.220333,7.550000,11.501000,15.078667,6,1978
1978-7,12.820000,9.750968,9.910323,6.483871,10.055161,7.820645,7.831935,8.459355,8.523871,7.732903,12.648710,14.077419,7,1978
1978-8,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194,8,1978
1978-9,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333,9,1978

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [117]:
datanew1['Week']=datanew1.index.week
datanew1.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year,Month_str,Year_str,Year-Month,Week
Date,,,,,,,,,,,,,,,,,,
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1,1961,1,1961,1961-1,1
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1,1961,1,1961,1961-1,1
1961-01-06,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17,1,1961,1,1961,1961-1,1
1961-01-07,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79,1,1961,1,1961,1961-1,1
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46,1,1961,1,1961,1961-1,1

In [119]:
datanew2=datanew1.query('Year==1961')

In [120]:
datanew2.groupby('Week').min()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year,Month_str,Year_str,Year-Month
Week,,,,,,,,,,,,,,,,,
1,10.58,6.63,7.62,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1,1961,1,1961,1961-1
2,9.04,3.54,7.08,0.67,2.29,0.96,2.50,0.58,0.50,2.67,5.25,5.17,1,1961,1,1961,1961-1
3,4.92,3.42,7.29,1.04,3.67,3.17,3.17,2.79,1.92,2.71,6.50,6.79,1,1961,1,1961,1961-1
4,13.62,9.96,12.67,6.04,10.00,9.42,9.25,8.71,7.12,11.04,14.04,17.50,1,1961,1,1961,1961-1
5,10.58,9.46,9.04,5.09,9.87,5.83,8.50,3.63,6.34,5.50,9.17,7.17,1,1961,1,1961,1961-1
6,16.00,11.54,13.67,8.38,8.12,8.08,11.08,9.71,10.37,12.25,15.21,17.04,2,1961,2,1961,1961-2
7,6.04,11.63,6.13,4.21,9.87,6.92,3.42,7.41,8.17,9.21,14.09,10.96,2,1961,2,1961,1961-2
8,7.79,7.08,6.08,2.21,5.96,4.33,3.75,4.67,4.50,7.00,9.59,6.67,2,1961,2,1961,1961-2
9,10.96,8.83,8.17,5.88,8.25,6.00,5.50,5.66,6.25,9.79,11.58,8.83,2,1961,2,1961,1961-2
10,4.88,8.08,7.54,3.13,5.41,4.08,1.71,5.29,5.21,5.09,10.21,5.54,3,1961,3,1961,1961-3
11,4.92,9.46,5.25,4.29,6.83,5.79,2.75,5.13,6.00,7.29,11.29,11.34,3,1961,3,1961,1961-3
12,6.29,2.58,4.79,4.42,5.13,4.29,8.00,4.92,8.00,8.33,8.25,13.13,3,1961,3,1961,1961-3
13,5.88,3.50,5.09,2.75,2.83,3.50,5.25,1.46,6.50,6.46,7.21,7.17,3,1961,3,1961,1961-3
14,4.50,7.04,9.29,3.21,5.96,4.33,5.00,4.00,5.66,3.67,7.62,7.21,4,1961,4,1961,1961-4
15,4.71,4.83,3.92,2.33,3.37,1.54,2.46,2.29,3.37,4.00,5.75,5.66,4,1961,4,1961,1961-4
16,4.00,3.71,3.33,1.58,2.21,0.83,4.46,2.54,3.58,3.83,6.75,4.96,4,1961,4,1961,1961-4
17,4.08,6.50,2.54,1.87,3.88,1.54,2.67,1.38,2.54,2.71,5.13,2.67,4,1961,4,1961,1961-4
18,9.87,10.29,8.42,6.46,9.42,7.33,5.96,6.25,7.79,8.63,4.79,3.83,5,1961,5,1961,1961-5
19,3.54,3.96,4.63,1.04,3.42,1.17,3.33,3.37,2.46,1.83,6.54,3.33,5,1961,5,1961,1961-5
20,4.88,3.58,5.91,3.63,5.50,3.46,3.17,3.79,4.92,4.17,6.63,5.91,5,1961,5,1961,1961-5
21,4.96,3.67,3.58,2.42,3.75,1.63,2.42,2.83,4.50,5.17,6.13,8.00,5,1961,5,1961,1961-5
22,7.00,4.75,6.83,3.42,7.67,5.17,5.83,7.21,6.34,5.91,8.71,10.63,5,1961,5,1961,1961-5
23,8.29,6.83,6.04,3.21,7.33,1.87,3.42,3.13,5.41,5.21,5.37,5.96,6,1961,6,1961,1961-6
24,6.13,4.12,6.50,2.92,3.50,1.58,4.67,2.88,4.21,3.08,7.29,6.13,6,1961,6,1961,1961-6
25,4.00,3.25,5.13,2.88,8.58,4.46,7.92,6.34,6.50,7.83,11.00,13.75,6,1961,6,1961,1961-6
26,7.21,6.34,7.62,4.42,8.04,4.79,5.83,5.96,5.79,7.96,6.96,8.50,6,1961,6,1961,1961-6
27,7.29,3.75,7.62,3.54,8.00,4.58,7.08,5.58,6.25,6.21,7.08,12.08,7,1961,7,1961,1961-7
28,8.63,7.87,8.00,5.58,9.46,3.46,2.67,2.96,2.92,4.25,5.04,5.96,7,1961,7,1961,1961-7
29,3.04,2.92,4.08,1.46,5.04,1.96,2.21,3.37,4.00,3.92,4.21,5.41,7,1961,7,1961,1961-7
30,6.13,4.63,6.42,2.83,4.96,2.92,3.58,4.17,2.21,4.92,7.87,6.13,7,1961,7,1961,1961-7
31,7.67,5.09,5.54,4.17,5.25,2.79,3.75,2.25,3.17,5.41,6.17,9.08,7,1961,7,1961,1961-7
32,2.88,4.42,6.00,2.50,6.58,3.58,3.88,5.04,2.83,5.41,9.83,5.88,8,1961,8,1961,1961-8
33,13.13,7.25,9.17,6.83,12.96,7.54,9.42,8.92,8.79,9.13,9.59,13.04,8,1961,8,1961,1961-8
34,7.67,6.87,9.50,3.96,7.46,4.25,5.66,4.50,3.96,7.46,5.75,8.29,8,1961,8,1961,1961-8
35,3.63,1.13,2.42,2.37,4.25,2.25,2.92,2.71,3.67,5.96,4.79,5.41,8,1961,8,1961,1961-8
36,5.00,3.04,3.63,2.75,4.75,2.17,1.25,2.21,2.50,1.75,5.41,3.37,9,1961,9,1961,1961-9
37,5.33,7.12,7.29,3.96,8.29,5.58,7.87,7.17,5.88,9.67,13.92,14.67,9,1961,9,1961,1961-9
38,6.92,2.92,5.33,2.62,3.88,1.63,4.12,1.46,2.83,2.83,4.54,5.25,9,1961,9,1961,1961-9
39,10.34,6.96,7.87,5.79,11.25,6.34,5.83,6.21,7.00,5.29,7.79,4.04,9,1961,10,1961,1961-10
40,3.13,3.63,4.96,1.46,3.75,1.04,3.50,1.87,1.42,2.42,4.79,4.83,10,1961,10,1961,1961-10
41,3.71,6.13,4.21,4.58,7.29,4.92,2.96,4.88,3.13,5.71,8.54,11.96,10,1961,10,1961,1961-10
42,10.46,3.75,9.92,6.83,7.75,6.83,7.50,6.08,7.38,11.08,10.88,13.46,10,1961,10,1961,1961-10
43,4.33,2.75,4.79,1.71,4.46,2.33,7.79,2.62,4.25,5.83,8.50,9.83,10,1961,10,1961,1961-10
44,5.88,3.96,6.54,3.79,6.00,4.33,8.50,4.21,5.71,7.67,10.29,13.37,10,1961,10,1961,1961-10
45,5.46,5.50,3.83,1.87,3.37,2.04,6.58,1.42,1.33,2.62,6.13,5.71,11,1961,11,1961,1961-11
46,7.50,4.21,6.46,1.50,5.04,1.25,2.29,0.63,0.75,1.25,0.71,2.00,11,1961,11,1961,1961-11
47,5.75,3.29,5.04,4.21,6.00,4.54,7.00,3.42,4.67,7.38,6.50,8.71,11,1961,11,1961,1961-11
48,7.92,4.67,8.00,3.29,4.17,2.29,5.83,1.92,2.25,3.63,5.50,5.88,11,1961,11,1961,1961-11
49,10.83,9.21,9.71,3.83,7.79,5.50,8.87,3.13,5.09,5.75,10.71,7.58,12,1961,12,1961,1961-12
50,9.29,8.63,9.04,4.46,8.83,7.04,6.92,5.46,4.71,4.67,5.50,6.50,12,1961,12,1961,1961-12
51,11.46,9.79,8.08,0.58,7.33,2.83,3.54,3.46,1.25,2.46,5.29,2.62,12,1961,12,1961,1961-12
52,5.04,3.08,2.13,0.42,3.67,1.83,2.92,1.87,1.83,1.96,3.75,6.63,12,1961,12,1961,1961-12

In [121]:
datanew2.groupby('Week').max()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year,Month_str,Year_str,Year-Month
Week,,,,,,,,,,,,,,,,,
1,13.50,14.29,11.75,6.67,12.29,8.33,14.29,9.29,10.92,10.46,16.62,16.46,1,1961,1,1961,1961-1
2,19.75,12.08,19.50,10.54,10.37,9.46,15.54,11.50,10.37,14.58,20.71,16.92,1,1961,1,1961,1961-1
3,17.75,14.37,17.33,10.13,13.96,13.37,13.42,11.04,8.71,11.38,15.92,16.08,1,1961,1,1961,1961-1
4,25.04,20.79,25.84,16.21,21.46,18.58,20.38,19.38,18.66,19.08,26.08,27.63,1,1961,1,1961,1961-1
5,24.21,24.21,19.70,11.96,17.37,12.04,14.88,15.54,13.37,13.13,19.33,19.25,2,1961,2,1961,1961-2
6,24.54,21.42,21.34,15.37,25.33,17.62,19.17,18.79,18.96,17.79,26.38,21.84,2,1961,2,1961,1961-2
7,22.50,20.17,19.41,15.34,16.13,15.12,16.08,14.29,14.88,16.58,28.62,22.58,2,1961,2,1961,1961-2
8,25.80,21.50,22.42,15.21,23.09,16.88,21.17,17.25,18.46,20.04,23.21,23.87,2,1961,2,1961,1961-2
9,13.33,17.00,13.67,10.04,15.46,11.17,12.75,12.83,11.71,14.09,23.45,17.54,3,1961,3,1961,1961-3
10,14.79,16.96,15.50,9.46,14.17,12.67,10.34,15.67,12.46,13.54,22.71,18.16,3,1961,3,1961,1961-3
11,16.88,15.54,13.96,11.04,14.37,10.75,13.96,14.29,13.88,15.34,22.79,22.95,3,1961,3,1961,1961-3
12,15.00,11.63,15.63,10.75,13.33,10.29,15.41,13.04,14.37,14.50,21.34,22.50,3,1961,3,1961,1961-3
13,18.25,16.29,14.96,12.00,18.34,14.33,16.62,13.37,17.54,14.21,18.63,16.83,4,1961,4,1961,1961-4
14,18.12,14.62,18.29,10.63,13.33,10.83,9.96,10.08,10.54,10.50,17.16,15.34,4,1961,4,1961,1961-4
15,15.50,12.25,15.79,9.71,8.71,8.58,8.00,9.92,9.00,9.67,16.17,12.87,4,1961,4,1961,1961-4
16,21.09,15.41,17.00,11.63,14.37,11.63,12.96,13.25,13.29,14.37,19.21,20.46,4,1961,4,1961,1961-4
17,16.29,14.46,14.96,7.87,12.62,8.83,13.75,11.96,11.08,11.46,13.04,17.50,4,1961,4,1961,1961-4
18,23.00,19.79,21.21,14.46,23.16,15.46,18.21,18.05,17.04,17.54,28.08,26.58,5,1961,5,1961,1961-5
19,12.79,11.54,12.33,10.75,15.71,14.04,18.58,15.79,17.33,17.92,18.66,26.30,5,1961,5,1961,1961-5
20,15.04,10.17,15.96,5.17,12.92,6.79,8.38,11.12,9.46,9.29,12.00,14.96,5,1961,5,1961,1961-5
21,10.92,11.17,13.13,5.50,10.00,6.04,6.79,7.96,7.33,10.46,13.88,17.04,5,1961,5,1961,1961-5
22,15.92,9.79,15.96,9.87,12.87,8.46,11.71,9.87,11.17,12.04,17.00,17.96,6,1961,6,1961,1961-6
23,14.42,11.54,11.58,6.92,13.13,8.63,9.71,9.71,10.58,10.92,16.17,19.83,6,1961,6,1961,1961-6
24,14.33,14.54,15.50,9.42,14.92,10.34,13.70,16.54,12.12,14.71,25.25,24.71,6,1961,6,1961,1961-6
25,9.00,9.50,10.37,6.63,13.21,8.67,14.88,12.04,12.92,15.00,19.08,21.50,6,1961,6,1961,1961-6
26,13.13,11.42,9.25,7.08,12.42,6.96,10.54,12.83,10.41,11.58,19.92,16.79,7,1961,7,1961,1961-7
27,17.50,10.75,14.92,12.00,18.58,11.38,15.75,14.33,15.46,16.79,20.41,21.29,7,1961,7,1961,1961-7
28,22.50,19.29,14.29,12.42,20.88,13.17,16.83,16.17,15.37,14.92,20.25,21.96,7,1961,7,1961,1961-7
29,5.88,6.79,12.67,4.67,7.33,3.88,7.08,7.79,6.50,7.75,10.13,10.92,7,1961,7,1961,1961-7
30,16.08,13.79,15.67,9.92,17.50,13.50,18.79,15.16,15.59,15.75,22.17,25.37,7,1961,7,1961,1961-7
31,16.08,15.79,15.59,8.96,16.92,10.21,13.54,13.04,11.67,12.83,18.54,20.25,8,1961,8,1961,1961-8
32,14.21,10.00,11.63,7.75,14.58,8.96,11.25,10.79,10.08,9.92,14.00,15.16,8,1961,8,1961,1961-8
33,18.91,13.62,14.04,11.79,20.38,14.25,19.04,17.71,16.13,17.83,21.92,24.30,8,1961,8,1961,1961-8
34,18.16,14.58,17.83,11.67,21.04,15.34,19.00,17.79,17.50,15.96,23.38,22.29,8,1961,8,1961,1961-8
35,14.46,22.00,12.75,12.42,19.21,13.08,14.12,16.54,13.50,16.13,24.71,22.54,9,1961,9,1961,1961-9
36,17.62,13.59,14.88,10.50,14.54,9.83,14.09,10.79,12.71,11.71,15.83,20.25,9,1961,9,1961,1961-9
37,28.75,22.08,26.50,21.09,28.50,20.67,20.79,21.37,21.34,25.21,23.91,33.09,9,1961,9,1961,1961-9
38,10.25,13.62,12.17,7.17,12.92,7.75,8.17,11.63,7.33,10.71,20.96,14.62,9,1961,9,1961,1961-9
39,19.12,13.62,17.16,10.17,14.67,10.37,12.46,12.50,10.04,14.00,20.30,16.21,10,1961,9,1961,1961-9
40,16.08,16.96,17.83,9.79,13.59,9.71,12.96,9.50,10.58,12.21,17.83,19.62,10,1961,10,1961,1961-10
41,17.12,13.25,20.96,9.42,13.54,11.04,12.71,12.38,11.12,15.21,20.46,21.04,10,1961,10,1961,1961-10
42,28.62,19.46,22.63,19.38,22.46,16.42,22.17,20.17,18.00,26.38,24.71,33.45,10,1961,10,1961,1961-10
43,21.34,17.00,22.88,13.62,18.21,13.21,18.34,13.25,15.37,17.75,22.29,25.12,10,1961,10,1961,1961-10
44,15.79,13.46,14.33,11.79,17.25,12.21,15.83,14.00,15.09,15.79,20.17,23.58,11,1961,11,1961,1961-11
45,16.08,10.75,20.41,8.79,10.00,6.42,13.04,6.63,7.38,10.88,12.58,15.54,11,1961,11,1961,1961-11
46,15.00,13.00,32.71,13.33,10.25,10.13,21.87,10.04,10.37,14.04,9.59,13.25,11,1961,11,1961,1961-11
47,14.29,11.79,14.46,7.96,12.75,9.83,16.17,10.00,10.04,14.12,20.46,22.58,11,1961,11,1961,1961-11
48,23.75,18.71,19.92,14.46,19.92,11.04,16.50,11.50,12.58,13.00,19.04,21.29,12,1961,12,1961,1961-12
49,23.71,21.37,20.54,13.04,18.08,14.54,19.83,15.46,15.12,15.50,21.79,29.33,12,1961,12,1961,1961-12
50,21.34,17.62,19.00,13.62,20.00,16.42,25.62,14.50,17.25,17.41,22.83,21.12,12,1961,12,1961,1961-12
51,24.41,16.13,22.13,15.59,20.38,13.59,18.12,14.33,12.54,15.34,17.67,16.62,12,1961,12,1961,1961-12
52,20.54,16.04,29.33,11.79,11.34,8.12,17.29,12.75,10.37,10.83,13.21,15.21,12,1961,12,1961,1961-12

In [122]:
datanew2.groupby('Week').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year
Week,,,,,,,,,,,,,,
1,12.316000,10.408000,10.050000,5.658000,8.506000,6.242000,10.936000,5.932000,8.150000,8.428000,11.416000,13.226000,1.000000,1961.0
2,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286,1.000000,1961.0
3,12.100000,9.500000,11.681667,4.293333,8.966667,6.938333,7.828333,7.291667,5.891667,6.693333,9.993333,10.346667,1.000000,1961.0
4,19.880000,14.846667,17.548333,11.916667,16.325000,14.016667,14.450000,14.311667,13.316667,14.921667,19.800000,22.388333,1.000000,1961.0
5,16.827143,15.460000,12.618571,8.247143,13.361429,9.107143,12.204286,8.548571,9.821429,9.460000,14.012857,11.935714,1.714286,1961.0
6,19.684286,16.417143,17.304286,10.774286,14.718571,12.522857,14.934286,14.850000,14.064286,14.440000,21.832857,19.155714,2.000000,1961.0
7,14.956667,15.008333,13.813333,10.083333,13.395000,12.020000,9.530000,12.178333,12.508333,13.521667,19.756667,15.925000,2.000000,1961.0
8,15.221429,13.625714,14.334286,8.524286,13.655714,10.114286,11.150000,10.875714,10.392857,12.730000,16.304286,14.322857,2.000000,1961.0
9,11.824000,12.956000,10.918000,7.900000,11.758000,8.768000,9.326000,10.032000,9.668000,12.068000,17.174000,14.108000,2.800000,1961.0
10,9.376667,11.195000,9.923333,6.618333,10.276667,8.791667,5.175000,8.960000,8.818333,9.570000,16.068333,13.066667,3.000000,1961.0
11,11.911429,13.501429,11.607143,7.084286,10.751429,8.652857,10.041429,10.220000,10.101429,11.627143,19.350000,16.227143,3.000000,1961.0
12,9.567143,8.387143,9.695714,6.648571,8.964286,7.982857,10.774286,8.977143,10.904286,11.481429,14.037143,18.134286,3.000000,1961.0
13,9.818000,7.684000,8.536000,6.734000,9.184000,8.632000,10.442000,7.518000,10.666000,8.666000,12.094000,12.910000,3.400000,1961.0
14,11.964286,10.654286,13.607143,5.958571,9.494286,7.637143,7.107143,8.041429,8.161429,7.238571,11.712857,11.371429,4.000000,1961.0
15,8.965714,8.000000,8.787143,4.971429,6.405714,4.947143,5.005714,4.994286,5.718571,6.178571,9.482857,8.690000,4.000000,1961.0
16,12.621429,10.438571,10.255714,7.768571,10.357143,7.798571,9.000000,9.111429,8.767143,9.551429,13.620000,12.470000,4.000000,1961.0
17,10.117143,9.798571,8.281429,4.801429,7.892857,5.197143,6.150000,6.377143,6.242857,6.124286,9.720000,8.637143,4.000000,1961.0
18,15.367143,13.970000,13.834286,9.952857,14.917143,10.864286,11.435714,12.244286,11.677143,11.585714,17.548571,14.571429,5.000000,1961.0
19,7.901667,7.645000,8.006667,5.421667,8.806667,6.471667,8.013333,7.555000,7.908333,8.396667,10.386667,10.530000,5.000000,1961.0
20,8.561667,5.631667,12.361667,4.163333,7.641667,4.916667,5.860000,6.868333,6.821667,6.855000,9.493333,10.256667,5.000000,1961.0
21,7.550000,6.536667,6.438333,3.748333,6.396667,3.715000,4.445000,5.305000,5.528333,6.881667,9.883333,10.883333,5.000000,1961.0
22,10.321429,7.407143,10.065714,6.310000,9.754286,6.451429,8.344286,8.635714,8.714286,9.035714,12.298571,13.597143,5.571429,1961.0
23,10.917143,8.992857,8.095714,5.214286,10.030000,5.460000,7.084286,6.884286,8.034286,8.397143,10.148571,12.250000,6.000000,1961.0
24,10.571429,9.565714,10.875714,6.520000,10.260000,6.947143,9.278571,9.102857,8.992857,9.594286,15.351429,15.025714,6.000000,1961.0
25,7.345714,6.108571,8.084286,5.478571,11.477143,7.492857,11.868571,9.447143,10.458571,11.257143,14.370000,17.410000,6.000000,1961.0
26,9.826000,8.310000,8.358000,6.016000,10.076000,5.776000,8.050000,8.300000,7.900000,9.716000,11.800000,12.402000,6.400000,1961.0
27,11.806667,7.221667,9.638333,7.448333,12.195000,7.688333,11.888333,9.200000,10.348333,10.381667,11.700000,15.750000,7.000000,1961.0
28,16.680000,13.518571,11.171429,9.277143,14.524286,8.412857,10.171429,10.507143,9.530000,10.157143,13.520000,12.524286,7.000000,1961.0
29,4.202857,4.255714,6.738571,3.300000,6.112857,2.715714,3.964286,5.642857,5.297143,6.041429,7.524286,8.415714,7.000000,1961.0
30,10.561429,8.445714,9.352857,5.727143,10.077143,6.552857,9.147143,9.198571,8.037143,9.470000,12.841429,13.761429,7.000000,1961.0
31,10.870000,8.792857,9.858571,6.238571,11.161429,7.184286,8.671429,8.265714,8.011429,8.951429,11.595714,13.760000,7.857143,1961.0
32,9.928000,8.026000,8.778000,5.234000,10.774000,6.292000,8.270000,8.330000,6.466000,7.632000,11.274000,9.858000,8.000000,1961.0
33,15.471667,10.513333,11.265000,8.568333,15.105000,10.241667,12.903333,11.438333,11.598333,12.131667,14.848333,16.626667,8.000000,1961.0
34,12.391429,11.430000,12.768571,7.108571,13.250000,9.424286,11.105714,12.201429,9.817143,12.507143,16.251429,16.485714,8.000000,1961.0
35,8.678571,8.821429,6.745714,5.642857,9.678571,6.278571,6.434286,8.612857,6.744286,8.924286,13.664286,11.022857,8.428571,1961.0
36,10.541429,8.798571,8.185714,6.060000,9.231429,5.685714,6.787143,6.674286,6.977143,7.565714,10.700000,11.034286,9.000000,1961.0
37,17.160000,14.440000,15.617143,10.442857,15.455714,11.082857,12.267143,13.131429,11.401429,14.268571,19.878571,18.984286,9.000000,1961.0
38,8.291667,7.645000,7.993333,4.851667,8.618333,5.140000,5.921667,6.881667,5.151667,6.896667,11.653333,9.915000,9.000000,1961.0
39,14.850000,11.361667,12.310000,7.903333,12.541667,8.223333,8.938333,9.620000,8.353333,10.903333,15.348333,12.701667,9.166667,1961.0
40,11.250000,8.757143,10.167143,5.262857,8.255714,5.552857,7.411429,6.220000,5.650000,7.662857,8.810000,11.410000,10.000000,1961.0
41,10.881667,9.905000,9.843333,7.063333,10.888333,8.203333,9.230000,8.155000,7.765000,10.181667,14.783333,16.011667,10.000000,1961.0
42,19.260000,13.364286,15.828571,12.620000,15.137143,10.721429,15.565714,12.560000,13.118571,16.461429,17.477143,23.641429,10.000000,1961.0
43,14.353333,10.303333,13.195000,7.053333,11.521667,7.840000,11.883333,8.443333,9.435000,11.423333,13.643333,16.325000,10.000000,1961.0
44,11.571429,9.590000,10.827143,7.541429,10.840000,8.667143,12.791429,9.970000,10.172857,11.864286,16.322857,19.195714,10.714286,1961.0
45,10.428571,7.690000,10.272857,4.660000,7.338571,4.220000,9.308571,4.257143,5.188571,6.415714,9.208571,10.858571,11.000000,1961.0
46,10.798571,7.951429,16.988571,5.970000,8.131429,5.492857,9.660000,4.625714,4.501429,6.031429,5.875714,5.737143,11.000000,1961.0
47,9.638333,6.886667,9.370000,5.458333,8.916667,6.373333,12.103333,6.918333,7.035000,10.026667,11.971667,14.146667,11.000000,1961.0
48,12.608571,10.442857,11.481429,6.501429,10.357143,6.868571,11.077143,6.245714,7.372857,7.911429,11.464286,14.725714,11.428571,1961.0
49,17.362857,14.362857,15.460000,8.624286,12.642857,10.421429,14.545714,10.114286,9.970000,12.022857,15.975714,16.241429,12.000000,1961.0
50,14.985714,13.472857,13.720000,8.697143,14.297143,11.698571,13.665714,10.428571,10.655714,11.058571,15.112857,14.644286,12.000000,1961.0
51,15.757143,11.971429,12.840000,5.785714,11.928571,7.084286,8.071429,7.012857,5.517143,7.697143,9.958571,8.164286,12.000000,1961.0
52,13.634286,9.504286,15.804286,6.588571,8.112857,5.372857,11.892857,6.851429,6.748571,7.701429,9.697143,12.840000,12.000000,1961.0

In [123]:
datanew2.groupby('Week').std()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year
Week,,,,,,,,,,,,,,
1,1.421418,3.282076,1.656985,0.865893,3.390462,2.432523,2.276221,2.912794,1.971712,1.959418,4.531918,2.134978,0.000000,0.0
2,3.555392,3.148945,5.034959,3.549559,3.471726,3.251039,4.709309,3.936894,3.500975,4.084293,5.552215,4.692355,0.000000,0.0
3,4.893064,4.070420,4.101421,3.466079,3.612875,3.519326,3.857488,3.025765,2.765440,3.203652,3.941358,3.407132,0.000000,0.0
4,4.619061,4.242125,4.719091,4.096436,4.244035,3.366385,3.823543,4.191761,4.179486,3.494638,4.675044,4.224639,0.000000,0.0
5,5.251408,5.187395,3.975166,2.709106,2.334619,2.397066,2.423454,4.081158,2.802490,2.839501,4.210858,4.336104,0.487950,0.0
6,3.587677,3.608373,3.290303,2.262056,5.571108,3.048976,2.974059,3.022753,2.914760,1.746749,4.063753,1.828705,0.000000,0.0
7,5.525210,3.908818,4.596928,4.311569,2.542941,3.283510,5.431781,2.497226,2.778528,2.772287,5.021524,4.763632,0.000000,0.0
8,7.020716,5.147348,5.578470,4.482075,6.480712,5.029874,6.037916,4.869668,4.705163,4.920064,5.091162,6.182283,0.000000,0.0
9,1.071742,3.490319,1.969142,1.815585,2.752539,1.845974,3.253603,2.640733,2.162908,1.729775,5.058249,3.350772,0.447214,0.0
10,3.732263,3.359302,2.888631,2.431686,2.813686,3.181839,3.511933,3.621955,2.546428,3.065864,4.408144,4.956336,0.000000,0.0
11,3.860036,2.352867,2.939244,2.416746,2.654289,2.045448,4.046593,3.373421,3.301880,3.099472,3.779727,4.331958,0.000000,0.0
12,3.613298,3.657265,4.041121,2.410127,2.927188,2.285729,2.892270,2.789682,2.469432,2.538224,4.318069,3.701846,0.000000,0.0
13,4.853908,5.130656,4.027031,3.745334,6.063323,4.065940,4.540041,4.534884,4.470999,3.193114,4.138965,3.698547,0.547723,0.0
14,4.604392,2.845399,2.902991,2.854052,2.743895,2.525046,2.109769,1.996609,1.935058,2.336182,3.147781,2.598271,0.000000,0.0
15,3.937727,2.607118,4.585752,2.664416,1.941836,2.388107,1.970667,2.379446,2.123279,2.161137,3.641464,2.747842,0.000000,0.0
16,5.676655,4.631736,5.456290,3.835403,4.122437,3.835998,3.254663,3.935731,3.656682,3.347972,4.735096,5.908542,0.000000,0.0
17,4.349662,2.871425,3.732776,1.897616,3.259907,2.528436,3.565777,3.426255,2.718926,2.840568,2.948237,5.108365,0.000000,0.0
18,5.025507,3.750835,4.301778,3.141495,5.781916,3.324038,4.419008,4.461950,3.558856,3.620819,8.003490,7.728504,0.000000,0.0
19,3.673850,2.755749,3.253310,3.827309,5.177801,5.099664,5.744586,4.927611,5.507248,5.745543,4.345856,8.597707,0.000000,0.0
20,3.857369,2.468906,4.022330,0.678636,2.780830,1.476776,1.743743,2.415777,1.766380,2.309283,2.130903,3.476795,0.000000,0.0
21,2.433828,2.757025,3.510598,1.378803,2.813494,1.697595,1.592718,2.115247,1.388631,2.089856,2.754572,3.445685,0.000000,0.0
22,3.099701,1.868125,3.474607,2.323826,2.305695,1.332009,2.300028,0.915184,1.954609,2.096989,2.611139,2.593586,0.534522,0.0
23,2.248597,1.524836,1.887475,1.603775,2.238228,2.204087,2.514689,2.857527,1.695090,2.158323,3.993062,4.925055,0.000000,0.0
24,3.009482,3.509444,3.429057,2.130352,4.175947,3.292713,3.417989,4.858023,2.900464,3.792400,6.477887,6.242673,0.000000,0.0
25,1.982035,2.212460,1.916454,1.332234,1.422401,1.448318,2.455385,2.109358,2.042257,2.286218,2.498386,3.063011,0.000000,0.0
26,2.629340,2.169505,0.808437,1.101830,1.831032,0.917240,1.842593,2.829514,2.054142,1.437891,5.171098,4.016574,0.547723,0.0
27,4.005984,2.943083,3.149511,3.163374,3.915925,2.555609,3.493425,3.447741,3.614910,3.977428,4.737155,3.956322,0.000000,0.0
28,5.168710,3.849630,2.166206,2.665625,4.596567,3.164715,4.489523,4.083629,3.978635,3.271899,4.971060,4.974273,0.000000,0.0
29,1.047978,1.400010,2.783208,1.158908,0.764956,0.617815,1.757905,1.479152,0.873207,1.439785,2.050218,2.133994,0.000000,0.0
30,4.157641,3.203206,3.276465,2.843207,4.514505,3.786633,5.110195,4.060478,4.504844,4.350268,5.580903,6.664574,0.000000,0.0
31,2.950887,3.985226,3.483894,1.647275,4.189524,2.642246,3.709319,3.921508,3.217501,2.903018,4.901377,4.448251,0.377964,0.0
32,4.931346,2.410960,2.651748,2.319931,3.491444,2.412202,3.664171,2.371782,3.307556,2.047833,1.882254,3.697340,0.000000,0.0
33,2.470590,2.760092,1.846367,2.121107,2.776247,2.386976,3.383730,3.156811,2.508174,2.972961,4.471570,3.934238,0.000000,0.0
34,3.395857,3.174702,3.071403,2.455711,4.380624,3.416186,4.170083,4.900671,4.120185,3.855302,6.711322,4.947608,0.000000,0.0
35,4.398615,7.474025,4.395383,3.790030,6.128522,4.455552,3.920110,5.012759,4.155931,3.993736,7.678051,6.308087,0.534522,0.0
36,5.207278,4.003996,3.922643,3.151502,3.178791,2.965546,4.258696,3.074692,3.767708,3.649278,4.220584,6.049619,0.000000,0.0
37,7.679190,5.360585,6.638947,5.560509,6.279010,4.706530,4.235755,4.565163,4.847073,5.128338,4.464252,6.332885,0.000000,0.0
38,1.250191,3.495865,2.322229,1.609614,3.216995,2.496061,1.406889,3.342247,1.633468,2.563058,5.432553,3.398163,0.000000,0.0
39,3.600911,2.812482,4.051869,1.793429,1.395929,1.376600,2.140630,2.911323,1.210548,3.310738,4.988901,4.802201,0.408248,0.0
40,5.596710,5.060803,4.394234,3.249050,3.830935,3.686641,3.420894,3.313201,3.717239,4.296870,4.800403,5.462002,0.000000,0.0
41,4.780675,2.924338,6.189632,2.180391,2.344435,2.044130,3.415810,2.645439,2.826997,3.364375,4.401903,3.925249,0.000000,0.0
42,7.888314,5.998199,5.463782,4.989763,6.095112,3.801637,5.334910,5.199929,3.785875,5.890511,5.645871,7.468377,0.000000,0.0
43,7.143390,6.021514,7.031309,4.678550,6.021500,4.612227,4.293370,4.380227,4.448500,5.257283,5.274629,6.867864,0.000000,0.0
44,3.369201,3.900278,2.461109,2.448363,3.664806,2.513051,2.727816,3.599111,3.003274,2.784450,4.038493,3.870800,0.487950,0.0
45,3.939811,2.141191,6.779554,2.930324,2.090641,1.414308,2.388943,2.181840,2.153102,2.843518,2.532196,3.690752,0.000000,0.0
46,2.784358,3.208548,9.415716,4.176374,2.092809,3.440953,7.027159,3.452202,3.488521,4.402588,3.643285,3.787654,0.000000,0.0
47,3.229622,3.344994,3.397711,1.411856,2.336037,1.996444,3.551685,2.493900,2.230720,2.720968,5.895223,5.790840,0.000000,0.0
48,5.704669,5.107089,4.163650,4.097123,5.536334,3.534980,4.186505,3.744471,3.658796,3.680477,5.552648,5.233192,0.534522,0.0
49,4.890152,4.115506,4.682044,3.782631,3.345941,3.481252,4.357862,4.503161,3.452864,4.156207,4.667933,7.345893,0.000000,0.0
50,4.095106,3.587886,3.843380,3.501489,3.943048,3.312448,6.474478,3.482027,4.333020,4.633398,6.531043,5.665006,0.000000,0.0
51,4.959717,2.220866,5.653229,5.341288,4.898600,4.019469,5.724775,4.134367,4.243508,4.637096,5.065308,5.048035,0.000000,0.0
52,5.787783,4.566479,9.739918,4.167851,3.018856,2.674370,5.142213,4.289240,3.325214,3.526625,3.262217,3.012729,0.000000,0.0